.DS_Store
.env
.gclient_done
**/.npmrc
.tags*
.vs/
.vscode/
*.log
*.pyc
*.sln
*.swp
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
/.idea/
/dist/
node_modules/
SHASUMS256.txt
compile_commands.json
.envrc
coverage

.npmrc

# Spec hash calculation
spec/.hash

# Eslint Cache
.eslintcache*

# If someone runs tsc this is where stuff will end up
ts-gen

out/
end-to-end/dist
.yarn/install-state.gz
